<div class="p-[15px] bg-black flex flex-row justify-around">
    <div class="h-100">
        <img src="../../../../assets/img/logo/full-black-bg.png" alt="WaamirDev logo" class="w-[200px]" id="footer-logo-img">
    </div>
</div>

<div class="bg-black pb-[10px] hidden" id="social-media-container-footer">
    <div class="flex flex-row z-30 bg-[rgba(0,0,0,.5)] gap-x-3 p-[10px] rounded-[20px] justify-center items-center">
        <div class="p-[8px] rounded-[50%] bg-black border-purple-300 border-[2px] w-fit">
            <a href="https://github.com/waamir104" target="_blank">
                <img class="w-[15px]" src="../../../../assets/img/social-media-icon/github.png" alt="Github">
            </a>
        </div>
        <div class="p-[8px] rounded-[50%] bg-black border-blue-300 border-[2px] w-fit">
            <a href="https://linkedin.com/in/waamirdev-william-peña" target="_blank">
                <img class="w-[15px]" src="../../../../assets/img/social-media-icon/linkedin.png" alt="LinkedIn">
            </a>
        </div>
        <div class="p-[8px] rounded-[50%] bg-black border-green-300 border-[2px] w-fit">
            <a href="https://wa.link/9h15pl" target="_blank">
                <img class="w-[15px]" src="../../../../assets/img/social-media-icon/whatsapp.png" alt="Whatsapp">
            </a>
        </div>
    </div>
</div>
<hr class="border-[2px] border-[var(--light-gray)]">
<copy-right></copy-right>
