<div id="about-us" class="w-[100%] px-[30px] py-[45px] flex flex-row gap-[15px] justify-center bg-[var(--gray)]">
    <div class="w-[50%]">
        <hr class="border-black border-[1.5px]">
        <p class="w-[100%] text-justify my-[15px] h-[140px] flex items-center">
            I am a Software Analyst and Developer with over 2 years of experience in the Tech industry. My expertise spans back-end development with Java, PHP, .NET, and Spring Boot, and front-end proficiency in Angular and Blazor. I excel in delivering creative solutions that prioritize client satisfaction and strive to enhance my skills with the latest technological trends.
        </p>
        <hr class="border-black border-[1.5px]">
    </div>
    <div class="w-[50%]">
        <hr class="border-black border-[1.5px]">
        <p class="w-[100%] text-justify my-[15px] h-[140px] flex items-center">
            My professional journey is shaped by Agile methodologies, ensuring efficient development processes and rapid iteration cycles. I am skilled in MySQL, JavaScript, Python, HTML, CSS, and tools like Figma and Git. I utilize SCRUM and KANBAN frameworks for project management, harnessing data insights through Power BI. Passionate about Angular and .NET for dynamic applications, I adeptly tackle software development challenges.    
        </p>
        <hr class="border-black border-[1.5px]">
    </div>
</div>