<nav class="navbar bg-black flex flex-row w-screen h-[70px] py-[15px] px-[25px] justify-between">
    <div id="logo-container" class="containers flex flex-row items-center">
        <a href="/">
            <img src="../../../../assets/img/logo/name-black-bg.png" alt="WaamirDev" class="flex items-center h-[40px]" id="header-logo-img">
        </a>
    </div>
    <div id="links-container" class="containers">
        <ul class="links-list flex flex-row gap-11 h-[100%] items-center" id="nav-links-list">
            <li class="list-item"><a href="#about-us" class="inline-block p-[8px] rounded-[10px] text-white cursor-pointer" (click)="SelectActiveLink('nav-links-list', $event.target)">About us</a></li>
            <li class="list-item"><a href="#front-page" class="inline-block p-[8px] rounded-[10px] text-white cursor-pointer" (click)="SelectActiveLink('nav-links-list', $event.target)">Front Page</a></li>
            <li class="list-item"><a href="#companies" class="inline-block p-[8px] rounded-[10px] text-white cursor-pointer" (click)="SelectActiveLink('nav-links-list', $event.target)">Companies</a></li>
            <li class="list-item"><a href="#technologies" class="inline-block p-[8px] rounded-[10px] text-white cursor-pointer" (click)="SelectActiveLink('nav-links-list', $event.target)">Technologies</a></li>
        </ul>
    </div>
    <div id="get-in-touch-btn-container" class="containers">
        <a href="#get-in-touch" class="inline-block p-[8px] rounded-[10px] text-white bg-red-900 shadow-sm shadow-white">Get In Touch</a>
    </div>
    <div id="burger-container" class="hidden flex-row items-center justify-center">
        <img 
        id="burger-icon" 
        src="../../../../assets/img/icon/burger-white.png" 
        class="w-[30px] cursor-pointer" alt="Burger Icon"
        (click)="ToggleMenu($event.target)">
    </div>
    <div id="menu-container" class="hidden absolute top-[80px] right-[15px] w-[200px] rounded-[15px] p-[10px] flex-row items-center justify-center">
        <ul class="links-menu-list flex flex-col h-[100%] items-center" id="nav-links-menu-list">
            <li class="list-menu-item"><a href="#about-us" class="inline-block p-[8px] rounded-[10px] text-white cursor-pointer" (click)="SelectActiveLink('nav-links-menu-list', $event.target)">About us</a></li>
            <li class="list-menu-item"><a href="#front-page" class="inline-block p-[8px] rounded-[10px] text-white cursor-pointer" (click)="SelectActiveLink('nav-links-menu-list', $event.target)">Front Page</a></li>
            <li class="list-menu-item"><a href="#companies" class="inline-block p-[8px] rounded-[10px] text-white cursor-pointer" (click)="SelectActiveLink('nav-links-menu-list', $event.target)">Companies</a></li>
            <li class="list-menu-item mb-[10px]"><a href="#technologies" class="inline-block p-[8px] rounded-[10px] text-white cursor-pointer" (click)="SelectActiveLink('nav-links-menu-list', $event.target)">Technologies</a></li>
            <li class="list-menu-item w-[100%]"><a id="get-in-touch-men-btn" href="#get-in-touch" class="inline-block p-[8px] rounded-[10px] text-white bg-red-900 shadow-sm shadow-black w-[100%] text-center">Get In Touch</a></li>
        </ul>
    </div>
</nav>