<div class="flex flex-col z-30 bg-[rgba(0,0,0,.5)] fixed gap-y-3 p-[10px] rounded-[20px] top-[40%] right-0" id="social-media-container">
    <div class="p-[8px] rounded-[50%] bg-black border-purple-300 border-[2px]">
        <a href="https://github.com/waamir104" target="_blank">
            <img class="w-[15px]" src="../../../../assets/img/social-media-icon/github.png" alt="Github">
        </a>
    </div>
    <div class="p-[8px] rounded-[50%] bg-black border-blue-300 border-[2px]">
        <a href="https://linkedin.com/in/waamirdev-william-peña" target="_blank">
            <img class="w-[15px]" src="../../../../assets/img/social-media-icon/linkedin.png" alt="LinkedIn">
        </a>
    </div>
    <div class="p-[8px] rounded-[50%] bg-black border-green-300 border-[2px]">
        <a href="https://wa.link/9h15pl" target="_blank">
            <img class="w-[15px]" src="../../../../assets/img/social-media-icon/whatsapp.png" alt="Whatsapp">
        </a>
    </div>
</div>