<div id="front-page" class="w-[100%] mt-[70px]">
    <div class="flex flex-row uppercase p-[30px]">
        <div class="w-[50%] pt-[30px]" id="front-page-text">
            <span class="text-[100px]" #typedOutput>fullstack</span>
            <span class="text-[130px] leading-[100px]">developer</span>
        </div>
        <div class="w-[50%]">
            <img src="../../../../../assets/img/illustrations/undraw_programming_re_kg9v.svg" alt="UnDraw Illustration">
        </div>
    </div>
</div>