#front-page {
    height: calc(100vh - 70px);
    min-width: 400px;

    #front-page-text {

        span {
            font-family: "Luckiest Guy", sans-serif;
        }

        span:nth-child(2) {
            line-height: 90px;
        }

        #cta-message-container {
            border-left: 5px solid var(--light-purple);

        }
    }

}

.button {
min-width: 300px;
min-height: 60px;
display: inline-flex;
font-family: 'Nunito', sans-serif;
font-size: 22px;
align-items: center;
justify-content: center;
text-transform: uppercase;
text-align: center;
letter-spacing: 1.3px;
font-weight: 700;
color: var(--light-gray);
background: var(--dark-purple);
background: linear-gradient(90deg, var(--dark-purple) 0%, rgb(180, 90, 240) 100%);
border: none;
border-radius: 1000px;
box-shadow: 12px 12px 24px var(--light-purple);
transition: all 0.3s ease-in-out 0s;
cursor: pointer;
outline: none;
position: relative;
padding: 10px;
}

.button::before {
content: '';
border-radius: 1000px;
min-width: calc(300px + 12px);
min-height: calc(60px + 12px);
border: 6px solid var(--light-purple);
box-shadow: 0 0 60px var(--light-purple);
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
opacity: 0;
transition: all .3s ease-in-out 0s;
}

.button:hover, 
.button:focus {
transform: translateY(-6px);
}

.button:hover::before, 
.button:focus::before {
opacity: 1;
}

.button::after {
content: '';
width: 30px; height: 30px;
border-radius: 100%;
border: 6px solid var(--light-purple);
position: absolute;
z-index: -1;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
animation: ring 1.5s infinite;
}

.button:hover::after, 
.button:focus::after {
animation: none;
display: none;
}

@keyframes ring {
0% {
    width: 30px;
    height: 30px;
    opacity: 1;
}
100% {
    width: 300px;
    height: 300px;
    opacity: 0;
}
}

// RESPONSIVE DESIGN

@media screen and (max-width: 1360px) {
    
    #typed-text {
        font-size: 80px;
    }

    #static-text {
        font-size: 110px;
    }

    #undraw-svg {
        width: 90%;
    }
}

@media screen and (max-width: 1140px) {
    
    #typed-text {
        font-size: 70px;
    }

    #static-text {
        font-size: 90px;
    }

    #undraw-svg {
        width: 80%;
    }
}

@media screen and (max-width: 950px) {
    
    #typed-text {
        font-size: 90px;
    }

    #static-text {
        font-size: 160px;
    }

    #front-page-content-container {
        width: 100%;
    }

    #undraw-svg-container {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    
    #typed-text {
        font-size: 80px;
    }

    #static-text {
        font-size: 130px;
    }

    #front-page-content-container {
        width: 100%;
    }

    #undraw-svg-container {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    
    #typed-text {
        font-size: 70px;
    }

    #static-text {
        font-size: 100px;
    }

    #front-page-content-container {
        width: 100%;
    }

    #undraw-svg-container {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    
    #typed-text {
        font-size: 50px;
    }

    #static-text {
        font-size: 80px;
    }

    #front-page-content-container {
        width: 100%;
    }

    #undraw-svg-container {
        display: none;
    }

    #cta-container{
        #cta-message-container {
            font-size: 14px;

        }
        #cta-btn-container {
            justify-content: start;
        }
    }
}


@media screen and (max-width: 450px) {
    
    #typed-text {
        font-size: 50px;
    }

    #static-text {
        font-size: 70px;
    }
}