#companies {
    min-width: 400px;

    .company-container {
        filter: grayscale(100%);
        transition: all 300ms;
    }
    
    .company-container:hover {
        filter: grayscale(0%);
    }
}



@media screen and (max-width: 462px) {
    #companies h2 {
        font-size: 25px;
    }
}