<div class="w-[100%] h-auto bg-[var(--pastel-red)] p-[30px] flex flex-col justify-center items-center" id="services">
    <div class="w-[80%]">
        <h2 id="services-title" class="w-[100%] text-[var(--dark-red)] font-bold font-ubuntu text-[30px] uppercase">Services</h2>
        <div class="flex flex-row flex-wrap justify-center overflow-hidden w-[100%] gap-8 py-[30px]">
            <div class="card p-[15px] rounded-[15px] bg-[var(--light-gray)] w-[330px] cursor-pointer" *ngFor="let service of services">
                <img class="w-[100%] h-[300px] rounded-[15px]" src="{{ service.imagePath }}" alt="{{ service.title }} image">
                <h3 class="font-ubuntu font-bold text-[18px] mt-[10px]">{{ service.title }}</h3>
                <p class="text-justify mt-[10px]" id="long-description">{{ service.description }}</p>
                <p class="text-justify mt-[10px]" id="short-description">{{ service.shortDescription }}</p>
            </div>
        </div>
    </div>
</div>