#projects {

    #projects-title{
        font-family: "Luckiest Guy", sans-serif;

    }

    #projects-content-container {

        #what-i-do-container {

            h2,
            #what-i-do-text {
                font-family: "Ubuntu", sans-serif;
            }
        }

        #projects-container {
            border-left: 2px solid var(--light-purple);

            .sd-btn {
              background: linear-gradient(90deg, var(--dark-purple) 0%, rgb(180, 90, 240) 100%);
            }

            .sd-btn:hover {
              transform: scale(1.1);
            }
        }
    }
}
