#git-form {
    box-shadow: black 0px 0px 40px;
}

#map-iframe {
    width: 100%;
    height: 100%;
}

#git-form {
    background: linear-gradient(90deg, var(--dark-purple) 0%, rgb(180, 90, 240) 100%);
}

.title {
    font-family: "Ubuntu", sans-serif;
    color: var(--light-gray);
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    label {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        color: var(--light-gray);
        -webkit-text-stroke: .5px black;
    }

    input, textarea {
        border-radius: 10px;
        padding: 5px 10px;
        background-color: var(--light-gray);
    }

    textarea {
        resize: none;
    }
}

#map-iframe{
    height: 100% !important;
}

#git-form-btn {
    transition: all 300ms;
    background: linear-gradient(90deg, var(--dark-gray) 0%, rgb(228, 226, 228) 100%);
}

#git-form-btn:hover {
    animation: git-btn 200ms ease-in-out;
}

@keyframes git-btn {
    0% {

    }

    25% {
        transform: rotate(5deg) scale(1.01);
    }

    60% {
        transform: rotate(-5deg) scale(1.01);
    }

    100% {
        transform: rotate(0deg) scale(1);
    }
}


// RESPONSIVE DESIGN
@media screen and (max-width: 800px) {
    #get-in-touch {
        display: flex !important;
        flex-direction: column !important;
        gap: 30px;

        div {
            width: 100%;
            height: 100%;
        }

        #map-container {
            height: 400px;
        }
    }
}