<div id="get-in-touch" class="w-[100%] flex flex-row">
    <div class="w-[100%] h-[400px]" id="map-container">
        <iframe id="map-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63229.889902218936!2d-72.54562035458733!3d7.908843047797366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e66459c645dd28b%3A0x26736c1ff4db5caa!2sC%C3%BAcuta%2C%20Norte%20de%20Santander!5e0!3m2!1ses!2sco!4v1720968680804!5m2!1ses!2sco"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="w-[45%] p-[30px] py-[50px] hidden">
        <form [formGroup]="gitForm" class="p-[25px] rounded-[15px] w-[80%] h-[100%] mx-auto" id="git-form">
            <div class="form-title-container flex justify-center items-center text-[40px]">
                <h2 class="title uppercase font-bold">let's chat</h2>
            </div>
            <div class="input-container">
                <label for="name-input">name</label>
                <input type="text" id="name-input" [ngClass]="{'is-invalid': hasErrors('name', 'required')}" formControlName="name" placeholder="William">
            </div>
            <div class="input-container">
                <label for="subject-input">subject</label>
                <input type="text" id="subject-input" [ngClass]="{'is-invalid': hasErrors('subject', 'required')}" formControlName="subject" placeholder="Web Development">
            </div>
            <div class="input-container">
                <label for="email-input">email</label>
                <input type="text" id="email-input" [ngClass]="{'is-invalid': (hasErrors('email', 'required') || hasErrors('email', 'email'))}" formControlName="email" placeholder="william@domain.com">
            </div>
            <div class="input-container">
                <label for="message-input">message</label>
                <textarea id="message-txtarea" [ngClass]="{'is-invalid': hasErrors('message', 'required')}" formControlName="message" rows="4" placeholder="Requirements, proposals."></textarea>
            </div>
            <div class="input-container flex flex-row justify-center items-center">
                <button id="git-form-btn" class="p-[10px] mt-[10px] text-white text-[20px] font-bold rounded-[20px] w-[180px] flex flex-row gap-x-[15px] justify-center items-center" (click)="OnSubmit()">
                    <p>Send</p>
                    <img class="h-[30px]" src="../../../../../assets/img/icon/send-mail.png" alt="Email">
                </button>
            </div>
        </form>
    </div>
</div>
