<div id="technologies" class="bg-[var(--gray)]">
    <div class="slider w-[90vw] h-auto m-auto overflow-hidden py-[30px]" id="technologies">
        <div class="slide-track flex flex-row gap-11 items-center">
            <div class="slide"><img src="../../../../../assets/img/technology-icon/angular.svg" alt="Angular"></div>
            <div class="slide"><img src="../../../../../assets/img/technology-icon/csharp.png" alt="C#"></div>
            <div class="slide"><img src="../../../../../assets/img/technology-icon/css.png" alt="CSS"></div>
            <div class="slide"><img src="../../../../../assets/img/technology-icon/git.png" alt="Git"></div>
            <div class="slide"><img src="../../../../../assets/img/technology-icon/github.png" alt="Github"></div>
            <div class="slide"><img src="../../../../../assets/img/technology-icon/html-5.png" alt="HTML"></div>
            <div class="slide"><img src="../../../../../assets/img/technology-icon/java.png" alt="Java"></div>
            <div class="slide"><img src="../../../../../assets/img/technology-icon/js.png" alt="Javascript"></div>
            <div class="slide"><img src="../../../../../assets/img/technology-icon/sql-server.svg" alt="SQL Server"></div>
            <div class="slide"><img src="../../../../../assets/img/technology-icon/dot-net.png" alt="Dot NET"></div>
            <div class="slide"><img src="../../../../../assets/img/technology-icon/python.png" alt="Python"></div>
            <div class="slide"><img src="../../../../../assets/img/technology-icon/mongodb.png" alt="MongoDB"></div>
            <div class="slide"><img src="../../../../../assets/img/technology-icon/mysql.png" alt="MySQL"></div>
            <div class="slide"><img src="../../../../../assets/img/technology-icon/oracle-cloud.png" alt="OCI"></div>
            <div class="slide"><img src="../../../../../assets/img/technology-icon/azure.png" alt="Azure"></div>
            <div class="slide"><img src="../../../../../assets/img/technology-icon/python.png" alt="PostgreSQL"></div> 
            <div class="slide"><img src="../../../../../assets/img/technology-icon/docker.png" alt="Docker"></div> 
            <div class="slide"><img src="../../../../../assets/img/technology-icon/tailwind.png" alt="Tailwind"></div> 
            <div class="slide"><img src="../../../../../assets/img/technology-icon/bootstrap.png" alt="Bootstrap"></div> 
            
            <div class="slide"><img src="../../../../../assets/img/technology-icon/angular.svg" alt="Angular"></div>
            <div class="slide"><img src="../../../../../assets/img/technology-icon/csharp.png" alt="C#"></div>
            <div class="slide"><img src="../../../../../assets/img/technology-icon/css.png" alt="CSS"></div>
            <div class="slide"><img src="../../../../../assets/img/technology-icon/git.png" alt="Git"></div>
            <div class="slide"><img src="../../../../../assets/img/technology-icon/github.png" alt="Github"></div>
            <div class="slide"><img src="../../../../../assets/img/technology-icon/html-5.png" alt="HTML"></div>
            <div class="slide"><img src="../../../../../assets/img/technology-icon/java.png" alt="Java"></div>
            <div class="slide"><img src="../../../../../assets/img/technology-icon/js.png" alt="Javascript"></div>
            <div class="slide"><img src="../../../../../assets/img/technology-icon/sql-server.svg" alt="SQL Server"></div>
            <div class="slide"><img src="../../../../../assets/img/technology-icon/dot-net.png" alt="Dot NET"></div>
            <div class="slide"><img src="../../../../../assets/img/technology-icon/python.png" alt="Python"></div>
            <div class="slide"><img src="../../../../../assets/img/technology-icon/mongodb.png" alt="MongoDB"></div>
            <div class="slide"><img src="../../../../../assets/img/technology-icon/mysql.png" alt="MySQL"></div>
            <div class="slide"><img src="../../../../../assets/img/technology-icon/oracle-cloud.png" alt="OCI"></div>
            <div class="slide"><img src="../../../../../assets/img/technology-icon/azure.png" alt="Azure"></div>
            <div class="slide"><img src="../../../../../assets/img/technology-icon/python.png" alt="PostgreSQL"></div>
            <div class="slide"><img src="../../../../../assets/img/technology-icon/docker.png" alt="Docker"></div> 
            <div class="slide"><img src="../../../../../assets/img/technology-icon/tailwind.png" alt="Tailwind"></div> 
            <div class="slide"><img src="../../../../../assets/img/technology-icon/bootstrap.png" alt="Bootstrap"></div> 
        </div>
    </div>
</div>