<div class="slider w-[90vw] h-auto m-auto overflow-hidden py-[30px]">
    <div class="slide-track flex flex-row gap-11 items-center">
        <div class="slide"><img src="../../../../../assets/img/technology-icon/angular.svg" alt="Angular"></div>
        <div class="slide"><img src="../../../../../assets/img/technology-icon/csharp.png" alt="C#"></div>
        <div class="slide"><img src="../../../../../assets/img/technology-icon/css.png" alt="CSS"></div>
        <div class="slide"><img src="../../../../../assets/img/technology-icon/git.png" alt="Git"></div>
        <div class="slide"><img src="../../../../../assets/img/technology-icon/github.png" alt="Github"></div>
        <div class="slide"><img src="../../../../../assets/img/technology-icon/html-5.png" alt="HTML"></div>
        <div class="slide"><img src="../../../../../assets/img/technology-icon/java.png" alt="Java"></div>
        <div class="slide"><img src="../../../../../assets/img/technology-icon/js.png" alt="Javascript"></div>
        <div class="slide"><img src="../../../../../assets/img/technology-icon/sql-server.png" alt="SQL Server"></div>
    
        <div class="slide"><img src="../../../../../assets/img/technology-icon/angular.svg" alt="Angular"></div>
        <div class="slide"><img src="../../../../../assets/img/technology-icon/csharp.png" alt="C#"></div>
        <div class="slide"><img src="../../../../../assets/img/technology-icon/css.png" alt="CSS"></div>
        <div class="slide"><img src="../../../../../assets/img/technology-icon/git.png" alt="Git"></div>
        <div class="slide"><img src="../../../../../assets/img/technology-icon/github.png" alt="Github"></div>
        <div class="slide"><img src="../../../../../assets/img/technology-icon/html-5.png" alt="HTML"></div>
        <div class="slide"><img src="../../../../../assets/img/technology-icon/java.png" alt="Java"></div>
        <div class="slide"><img src="../../../../../assets/img/technology-icon/js.png" alt="Javascript"></div>
        <div class="slide"><img src="../../../../../assets/img/technology-icon/sql-server.png" alt="SQL Server"></div>
    </div>
</div>